* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
ul, ol {
    list-style: none;
}
body {
    color: white;
}
